@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply text-base;
		@apply font-light;
		@apply leading-normal;
		@apply bg-white-off;
		@apply text-black-off;
	}

	.container {
		@apply mx-auto;
	}

	.subtitle {
		@apply text-lg;
		@apply font-normal;
	}

	.nextimage-full span {
		height: 100% !important;
	}

	.image-container {
		@apply w-full;
	}

	.image-container > span {
		position: unset !important;
	}

	.image-container img {
		object-fit: contain;
		width: 100% !important;
		position: relative !important;
		height: unset !important;
	}
}
